---
layout: layout.njk
---

<main class="project">
  <h1>{{ title }}</h1>
  <img src="https://via.placeholder.com/960x300" />
  <h2>{{ baseline }}</h2>
  <article>{{ content | safe }}</article>
  <infos>{{ infos | safe }}</infos>
</main>
